body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.mainDisco { 
  background-image: url(static/disco.jpg);
  background-repeat: no repeat; 
  background-size: cover;   
} 

.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  border:0px solid orange;
  background-image: url(static/beavis.gif);
  background-repeat: no repeat; 
  background-size: cover;   
  min-height: 80px; 
  width: 80px; 
}
.stretchyDancer{
  border:0px solid orange;
  background-image: url(static/jesterbeavis.gif);
  background-repeat: no repeat; 
  background-size: cover;   
  min-height: 160px; 
  width: 80px; 
}

.rubberDancer {
  border:0px solid orange;
  background-image: url(static/tweety.gif);
  background-repeat: no repeat; 
  background-size: cover;   
  min-height: 80px; 
  width: 80px; 
}

.jumpyDancer{
  border:0px solid orange;
  background-image: url(static/monkey.gif);
  background-repeat: no repeat; 
  background-size: cover;   
  min-height: 80px; 
  width: 80px; 
}
